.houses-table {
  max-width: 1024px;
  
}
  
.animation {
  transition: all 0.1s ease-in-out;
}
.animation:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  color: green;
  font-weight: bold;
  cursor: zoom-in;
}

html, body { height: 100%; }
body { margin: 30px; font-family: Roboto, "Helvetica Neue", sans-serif; }
